<!doctype html>
html.h-100(lang="en")
  include ./includes/head.pug
  title Lourdes 💑 Luis - Home
  body.bg-near-white.black.flex.flex-column.h-100.serif
    .content
      include ./includes/nav.pug
      .carousel
        img(src="/assets/images/lourdes-and-luis.jpg", alt="").w-100
    include ./includes/footer.pug
    include ./includes/ga.pug