html,
body {
  height: 100%;
}

body {
  align-content: center;
  color: #283266;
  display: flex;
  flex-direction: column;
  font-family: 'Arimo', sans-serif;
  justify-content: center;
  letter-spacing: 1pt;
  text-align: center;
}

h2 {
  font-size: .9em;
  letter-spacing: 4pt;
  text-transform: uppercase;
}