<!doctype html>
html.h-100(lang="en")
  include ../includes/head.pug
  title Lourdes 💑 Luis - Wedding Entourage
  body.black.flex.flex-column.h-100.serif
    .content
      include ../includes/nav.pug
    include ../includes/footer.pug
    include ../includes/ga.pug